<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
    height: 100vh;
  "
>
  <h1 class="text-white">Page title</h1>
</div>
<!-- Background image -->

<div class="mask mask-custom" style="background-color: rgba(0, 0, 0, 0.9)">
  <div class="d-flex justify-content-center align-items-center h-100">
    <p class="text-white mb-0">Can you see me?</p>
  </div>
</div>
<button class="bbb-hover" routerLink="/create-employee">Create</button>
<button class="bbbb-hover" routerLink="/employee-list">List of employyes</button>








