<div class="d-flex justify-content-between">
  <div>
    <button class="bbb-hover" routerLink="/create-employee">Create</button>
    <button class="bbbb-hover" routerLink="/employee-list">List of employyes</button>
  </div>
  <div>
    <img class="homejpg" src="assets/Management.jpg">
  </div>
</div>
<div class="container">
  <h1>About me</h1>
  Welcome to my first application! Its a pleasure to meet you here, and I am happy that you can test it right now!
  <p class="text-muted">Let me show you my patron!</p>
</div>
