<div class="justify-content-between">
  <div class="jumbotron jumbotron-fluid bg-info text-white text-center" style="background: #aaa;">
    <div class="container">
      <h1 class="hometitle">About me</h1>
      <p>Welcome to my first application! Its a pleasure to meet you here, and I am happy that you can test it right
        now! My name is Damian. I started programming couple months ago. My aim is to be a fully-stack programmer to
        work
        in huge projects of applications and websites. I hope you enjoy it!</p>
      <p class="text-muted">Let me show you my patron!
        <a href="https://courses.lowgular.edu.pl/" target="_blank">
          Lowgular/Angular
        </a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">

      <h4>Lowgular</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/watch?v=9GoSM8fmO4o"></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>Lowgular</h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/watch?v=9GoSM8fmO4o"></iframe>
      </div>
    </div>
  </div>
</div>

<div>

</div>


