<h2 class="tytuł">Add new employee here!</h2>
<br>
<br>
<div class="position-relative">
  <div class="position-absolute bottom-0 start-50 translate-middle-x">
    <form [formGroup]="userForm" (ngSubmit)="OnButtonClicked(userForm.value)">
      <input type="text" FormControlName="email" placeholder="Email">
      <input type="text" FormControlName="age" placeholder="Age">
      <input type="text" FormControlName="name" placeholder="Name">
      <input type="submit" [disabled]="userForm.invalid" value="Submit">

    </form>
  </div>
</div>
<div class="p-2 bg-info bg-opacity-10 border border-success border-start-0 rounded-end">
  <p class="text-center">Submit to add your employee!</p>
</div>


