body {
  background-color: mediumpurple;
}

.title {
  color: white;
  text-align: center;
  padding: 30px;
  font-weight: bold;

}

.tytuł {
  text-align: center;
  color: white;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
}

.divtitle {

  margin: auto;
}

.footer {
  padding: 20px;
  text-align: left;
}

.b-hover:hover {
  color: red;
  background-color: yellow;
}

.img-moje {
  height: 400px;
}

.text-center {
  color: lawngreen;
}

.angular {
  height: 40px;
  width: 40px;
}

.ts {
  height: 40px;
  width: 40px;
}

.lowgularlogo {
  height: 40px;
  width: 40px;
}

.javalogo {
  height: 40px;
  width: 60px;
}

.col {
  background-color: darkslateblue;
  font-size: 15px;
}

.footercontainer {
  background-color: darkslateblue;
}

.employee {

  padding: 20px;
}

.footimg {
  padding: 5px;
  height: 50px;
  width: 60px;
}

.github {
  padding: 5px;
  height: 50px;
  width: 80px;
}

/* You can add global styles to this file, and also import other style files */
