body {
  background-color: mediumpurple;
}

.title {
  color: white;
  text-align: center;
  padding: 50px;
  font-weight: bold;

}

.tytuł {
  text-align: center;
  color: white;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
}

.divtitle {
  background-color: #20c997;
  margin: auto;
}

.footer {
  padding: 20px;
  text-align: left;
}


/* You can add global styles to this file, and also import other style files */
